body{
    background: rgb(199, 199, 199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title {
    background-color: darksalmon;
    text-align: center;
}

#image{
    text-align: center;
}

#necessities{
    color: white;
}
#prepare{
    color: white;
 }

 #footer{
     color: black;
     background-color: darksalmon;
     text-align: center;
 }